@import components/mixins
@import components/header
@import components/info
@import components/step

*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 0.9px
    scroll-behavior: smooth
    +media(768)
        font-size: 1px  

body
    color: #333
    font-size: 14rem
    font-family: Montserrat


ul
    list-style: none
a
    color: #333
    text-decoration: none

h1, h2
    font-size: 32px
    font-weight: 600
h2
    font-weight: 500

.flex
    display: flex

.flex-between
    display: flex
    justify-content: space-between

.justify-center
    display: flex
    justify-content: center

.items-center
    align-items: center

.gap
    gap: 20rem

.gap-10
    gap: 10rem  

.gap_50
    gap: 50rem  

.grid   
    display: grid

.col_2
    grid-template-columns: 20% 70%
.col_2_reverce
    grid-template-columns: 70% 20%
.col_3
    +media(768)
        justify-content: center
        grid-template-columns: repeat(2, 1fr)
    +media(1024)
        grid-template-columns: repeat(3, 1fr)

.col_4
    +media(768)
        justify-content: center
        grid-template-columns: repeat(2, 1fr)
    +media(1024)
        grid-template-columns: repeat(4, 1fr)

.wrapper
    width: 90%
    margin: 0 auto
    padding: 0 15rem
    +media(1440)
        max-width: 1140px

.main_container
    flex-wrap: wrap
    padding-bottom: 50px
    +media(768)
        flex-wrap: nowrap
    img
        max-width: 100%
        height: auto
    p
        padding: 7px 0 39px
        font-size: 16px
        font-weight: 600
    li
        padding-bottom: 16px
.text_container
    +media(768)
        max-width: 50%
    +media(1024)
        max-width: 560px
    ul
        padding-bottom: 40rem
    picture
        display: block
        width: 100%
        max-width: 30px
        height: auto

.green_btn
    a
        display: block
        text-align: center
        margin: 0 auto
        font-weight: 700
        border-radius: 48px
        background: #B2F110
        text-transform: uppercase
        transition: all 0.5s ease
        padding: 16px 32px
        &:hover
            color: #fff
            background-color: #F99B38
        +media(768)
            max-width: 280px
.m0
    a
        margin: 0

.grid_rating
    +media(768)
        grid-template-columns: 20% 80%
    h2
        position: relative
        text-align: center
        font-size: 16px
        padding-bottom: 20px
        +media(768)
            padding-bottom: 0
        &::before
            content: ''
            position: absolute
            top: -25%
            left: 50%
            width: 70px
            height: 24px
            transform: translate(-50%, -50%)
            background-image: url(../img/stars_circle.png)

.ratings
    padding: 19px 0
    border-top: 1px solid #e5e5e5
    border-bottom: 1px solid #e5e5e5
    > div
        +media(768)
            justify-content: center
        picture
            width: 110px
            height: auto
            +media(768)
                width: auto
    p
        font-weight: 700

.student_block
    +media(768)
        grid-column: span 2
    +media(1024)
        grid-column: span 1
.about_us_container
    +media(500)
        grid-template-columns: 2fr 1fr 2fr
.item_about
    align-items: center
    padding-bottom: 30rem
    p
        padding: 20rem
        border-radius: 20rem
        border: 1px solid #d6d6d6
.social_container 
    ul
        padding-top: 20px
.social_items
    a
        display: block
        width: 55px
        height: 55px
        background-color:  #fff 
        border-radius: 50%
        img
            transform: translateY(25%)
.green_bg
    padding: 50px 0
    background: linear-gradient(90deg, #0A662D 0%, #163F2E 100%)
    h3
        color: #FFF
        font-size: 20px
        font-weight: 600
        +media(768)
            max-width: 660px
    > div
        justify-content: center
        flex-wrap: wrap
        +media(610)
            justify-content: space-between
            flex-wrap: nowrap
    picture
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        max-width: 100px

.price_container
    padding: 80px 0 70px
    h2
        padding-bottom: 30px
        text-align: center 
.card
    padding: 10px 10px 30px
    border: 1px solid #D6D6D6
    figcaption
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 100%
        align-items: center

.card_content
    h3
        padding: 12px 0 20px
        font-size: 20px
        font-weight: 700
        text-align: center
    p
        margin-bottom: 17px
    b
        color: #000
        font-weight: 500
    .green_btn
        .button
            text-align: center
            max-width: 140px
            margin: 0 auto
            text-transform: none
.expert
    min-height: 55px
    
.price_container_card
    padding: 10px 0 30px
    text-align: center
    font-size: 15px
    font-weight: 600
    b
        font-size: 32px

.price_container
    .green_btn
        a
            max-width: 310px

.price_btn_container
    > div
        flex-wrap: wrap
    div
        &:first-child
            padding: 30px 0 30px
        &:last-child
            padding-bottom: 40px
    a
        display: block
        width: 100%
        max-width: 225px
        padding: 21px 20px
        border-radius: 50px
        border: 1px solid #D6D6D6
        text-align: center
        transition: all 0.5s ease
        &:hover
            color: #F99B38
            border: 1px solid #F99B38
        span
            &:first-child
                display: block
                font-size: 16px
                font-weight: 500
                text-decoration: underline
            &:last-child
                font-size: 15px
                font-weight: 400
                b
                    padding-top: 5px
                    font-size: 20px
                    font-weight: 600

.info_container,
.price_container,
.about_us_container
    padding: 80px 0 70px
    h2
        padding-bottom: 30px
        text-align: center 
    
.reviews_container,
    h2
        padding-bottom: 30px
        text-align: center 
.comment-slider
    min-height: 230px
.arrow
    transform: rotate(90deg)
    +media(438)
        transform: rotate(0deg)
.reviews_container,
.steps-container
    padding-right: 30rem
    padding-left: 30rem
.more_reviews
    text-align: right
    padding-top: 20px
    padding-bottom: 45px
    font-weight: 400
    text-decoration: underline
    a
        &:hover
            color: #80C936
            text-shadow: 0 0 1px #80C936

.img-comment
    height: auto
    padding: 5px
    border: 1px solid #D6D6D6
    border-radius: 20px
    cursor: pointer
    img
        border-radius: 15px
        object-fit: cover
        width: 100%
        

.left.slider_navigation,
.right.slider_navigation
    display: none !important
    position: absolute
    top: 50%
    border: 20rem solid transparent
    transform: translateY(-50%) rotate(-180deg)
    cursor: pointer
    +media(768)
        display: block !important

.left.slider_navigation
    left: -50px
    border-left-color: #D9D9D9

.right.slider_navigation
    right: -50px
    border-right-color: #D9D9D9

.btn_group
    display: block
    a
        font-size: 15px
        +media(768)
            min-width: 280px
    div
        margin-bottom: 15px
    +media(768)
        display: flex
        margin-bottom: 0
.footer
    flex-wrap: wrap
    margin-bottom: 50px
    +media(768)
        grid-template-columns: repeat(2, 1fr)
    +media(1024)
        grid-template-columns: repeat(3, 1fr)
    div
        +media(768)
            padding: 0 30rem
    h3
        font-weight: 700
        text-transform: uppercase
        padding-bottom: 36px
        min-height: 40px
        // max-width: 280px
        text-align: center

div.central_block 
    padding: 0
    ul
        padding-bottom: 24px 

.social_footer
    li
        margin-bottom: 10px
    a
        gap: 10rem
        transition: all 0.5s ease
        &:hover
            color: #80C936
            text-shadow: 0 0 1px #80C936
.social_footer,
.menu_block
    +media(768)
        border-left: 1px solid rgba(214, 214, 214, 0.87)
        border-right: 1px solid rgba(214, 214, 214, 0.87)

.menu_block
    +media(768)
        grid-column: span 2
    +media(1024)
        grid-column: span 1
    nav
        gap: 70px
    a
        color: #000
        line-height: 1.7em
        text-decoration-line: underline
        transition: all 0.5s ease
        &:hover
            color: #80C936
            text-shadow: 0 0 1px #80C936
.social_icons_block_2
    a
        transition: all 0.5s ease
        &:hover
            transform: scale(1.1)
            filter: drop-shadow( 0 0 1px rgba(140, 192, 206, 0.8))
.social_icons_block
    img
        transition: all 0.5s ease
        &:hover
            transform: scale(1.1)
            filter: drop-shadow( 0 0 1px rgba(140, 192, 206, 0.8))
.popup_img
    position: fixed
    top: 50%
    left: 48%
    display: none
    padding: 30rem
    width: 80vw
    background-color: #fff
    border-radius: 20px
    transform: translate(-50%, -50%)
    z-index: 7
.cancel_img
    position: absolute
    top: 0
    right: -30px
    svg
        path
            transform: translate(28%, 28%)

.popup_img
    width: 85%
    img
        width: 100%
        object-fit: contain
        border-radius: 20px
        max-height: 500px