footer.wrapper.grid.footer.gap
    .social_footer 
        h3 соціальні мережі
        ul
            li
                a(href="https://www.instagram.com/na5ku_ua/" ).flex.gap.items-center
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                        <circle cx="17" cy="17" r="17" fill="#333333"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17 7C14.284 7 13.944 7.01133 12.8773 7.06C11.8127 7.10867 11.0853 7.278 10.4493 7.52534C9.78267 7.776 9.178 8.16933 8.678 8.67866C8.16949 9.17809 7.7759 9.78233 7.52467 10.4493C7.27867 11.0853 7.10867 11.8133 7.06 12.878C7.012 13.944 7 14.2833 7 17C7 19.7166 7.01133 20.056 7.06 21.1226C7.10867 22.1873 7.278 22.9147 7.52533 23.5506C7.776 24.2174 8.16933 24.822 8.67866 25.322C9.1781 25.8305 9.78234 26.2241 10.4493 26.4753C11.0853 26.722 11.8127 26.8913 12.8773 26.94C13.944 26.9886 14.284 27 17 27C19.716 27 20.056 26.9886 21.1227 26.94C22.1874 26.8913 22.9147 26.722 23.5506 26.4747C24.2173 26.224 24.822 25.8307 25.322 25.3213C25.8305 24.8219 26.2241 24.2177 26.4753 23.5506C26.722 22.9147 26.8914 22.1873 26.94 21.1226C26.9886 20.056 27 19.716 27 17C27 14.284 26.9886 13.944 26.94 12.8773C26.8914 11.8127 26.722 11.0853 26.4746 10.4493C26.2236 9.78204 25.83 9.17754 25.3213 8.678C24.822 8.16948 24.2177 7.7759 23.5506 7.52466C22.9147 7.27867 22.1867 7.10867 21.122 7.06C20.056 7.012 19.7167 7 17 7ZM17 8.802C19.67 8.802 19.9867 8.812 21.0414 8.86C22.016 8.90466 22.5454 9.06667 22.898 9.20466C23.3647 9.38533 23.698 9.60266 24.048 9.952C24.398 10.302 24.6146 10.6353 24.7954 11.102C24.9327 11.4547 25.0953 11.984 25.14 12.9587C25.188 14.0133 25.198 14.33 25.198 17C25.198 19.67 25.188 19.9866 25.14 21.0414C25.0953 22.016 24.9333 22.5453 24.7954 22.898C24.6353 23.3323 24.3799 23.7253 24.048 24.048C23.7254 24.38 23.3324 24.6353 22.898 24.7953C22.5454 24.9327 22.016 25.0953 21.0414 25.14C19.9867 25.188 19.6707 25.198 17 25.198C14.3293 25.198 14.0133 25.188 12.9587 25.14C11.984 25.0953 11.4547 24.9334 11.102 24.7953C10.6676 24.6353 10.2747 24.3799 9.952 24.048C9.62012 23.7253 9.36475 23.3323 9.20467 22.898C9.06733 22.5453 8.90466 22.016 8.86 21.0414C8.812 19.9866 8.802 19.67 8.802 17C8.802 14.33 8.812 14.0133 8.86 12.9587C8.90466 11.984 9.06667 11.4547 9.20467 11.102C9.38534 10.6353 9.60267 10.302 9.952 9.952C10.2746 9.62003 10.6676 9.36465 11.102 9.20466C11.4547 9.06733 11.984 8.90466 12.9587 8.86C14.0133 8.812 14.33 8.802 17 8.802ZM16.9887 20.2215C16.5633 20.2215 16.1422 20.1364 15.7493 19.9711C15.3565 19.8056 14.9995 19.5632 14.6987 19.2577C14.398 18.9522 14.1595 18.5894 13.9967 18.1901C13.834 17.7909 13.7502 17.363 13.7502 16.9309C13.7502 16.4987 13.834 16.0708 13.9967 15.6716C14.1595 15.2724 14.398 14.9096 14.6987 14.604C14.9995 14.2984 15.3565 14.056 15.7493 13.8907C16.1422 13.7253 16.5633 13.6402 16.9887 13.6402C17.8475 13.6402 18.6712 13.9869 19.2785 14.604C19.8859 15.2211 20.2271 16.0581 20.2271 16.9309C20.2271 17.8036 19.8859 18.6406 19.2785 19.2577C18.6712 19.8748 17.8475 20.2215 16.9887 20.2215ZM16.9887 11.8617C15.6656 11.8617 14.3967 12.3958 13.4611 13.3464C12.5256 14.2971 12 15.5864 12 16.9309C12 18.2753 12.5256 19.5646 13.4611 20.5153C14.3967 21.4659 15.6656 22 16.9887 22C18.3117 22 19.5806 21.4659 20.5162 20.5153C21.4517 19.5646 21.9773 18.2753 21.9773 16.9309C21.9773 15.5864 21.4517 14.2971 20.5162 13.3464C19.5806 12.3958 18.3117 11.8617 16.9887 11.8617ZM23.4286 11.7697C23.4286 12.0875 23.3044 12.3922 23.0832 12.617C22.8621 12.8417 22.5621 12.9679 22.2494 12.9679C21.9366 12.9679 21.6367 12.8417 21.4155 12.617C21.1944 12.3922 21.0701 12.0875 21.0701 11.7697C21.0701 11.4519 21.1944 11.1471 21.4155 10.9224C21.6367 10.6977 21.9366 10.5714 22.2494 10.5714C22.5621 10.5714 22.8621 10.6977 23.0832 10.9224C23.3044 11.1471 23.4286 11.4519 23.4286 11.7697Z" fill="white"/>
                    </svg>
                    span https://www.instagram.com/na5ku_ua/

            li
                a(href="https://www.tiktok.com/@na5ku_official" ).flex.gap.items-center 
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                        <circle cx="17" cy="17" r="17" fill="#333333"/>
                        <path d="M20.9697 5H17.2209V20.6666C17.2209 22.5333 15.7791 24.0667 13.9848 24.0667C12.1905 24.0667 10.7487 22.5333 10.7487 20.6666C10.7487 18.8333 12.1585 17.3333 13.8887 17.2667V13.3333C10.0759 13.4 7 16.6333 7 20.6666C7 24.7333 10.14 28 14.0169 28C17.8937 28 21.0337 24.7 21.0337 20.6666V12.6333C22.4435 13.7 24.1736 14.3334 26 14.3667V10.4333C23.1804 10.3333 20.9697 7.93332 20.9697 5Z" fill="white"/>
                    </svg>
                    span https://www.tiktok.com/@na5ku_official
            li
                a(href="https://www.facebook.com/na5ku" ).flex.gap.items-center 
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                        <circle cx="17" cy="17" r="17" fill="#333333"/>
                        <path d="M18.6496 28V16.4986H21.6079L22 12.5352H18.6496L18.6546 10.5515C18.6546 9.51776 18.7461 8.96387 20.1296 8.96387H21.979V5H19.0202C15.4662 5 14.2153 6.92269 14.2153 10.156V12.5357H12V16.4991H14.2153V28H18.6496Z" fill="white"/>
                    </svg>
                    span https://www.facebook.com/na5ku
    .central_block 
        h3 оформити замовлення або задати питання
        ul.flex.justify-center.items-center.gap.social_icons_block
            li
                a(href="https://t.me/Na5kuBot?start=ZGw6MjgyMDU4" target="_blank") 
                    picture 
                        img(src="img/tg.svg", alt="Telegram")
            li
                a(href="https://direct.smartsender.com/redirect?continue=viber%3A%2F%2Fpa%3Fcontext%3DZGw6MjgyMDU4%26chatURI%3Dna5kucomuabot"  target="_blank") 
                    picture 
                        img(src="img/viber.svg", alt="Viber")
            li
                a(href="https://m.me/1532047343755224?ref=ZGw6MjgyMDU4" target="_blank") 
                    picture 
                        img(src="img/msngr.svg", alt="Messenger")
        .button.transparent_btn 
            a.link(href="https://na5ku.com.ua/uk/?ref_id=10011857&utm_source=google_adwords&utm_medium=ppc&utm_campaign=LAND-footbutorder#ctfrm" ) оформити замовлення
    div.menu_block
        h3 МЕНЮ
        nav.menu_footer.justify-center
            ul
                li
                    a.link(href="https://na5ku.com.ua/uk/uslugi/?ref_id=10011857&utm_source=google_adwords&utm_medium=ppc&utm_campaign=LAND-menufootserv" ) Послуги
                li
                    a.link(href="https://na5ku.com.ua/uk/uslugi/?ref_id=10011857&utm_source=google_adwords&utm_medium=ppc&utm_campaign=LAND-menufootprice" ) Ціни
                li
                    a.link(href="https://na5ku.com.ua/uk/?ref_id=10011857&utm_source=google_adwords&utm_medium=ppc&utm_campaign=LAND-menufootrev#steps" ) Як це працює
            ul
                li
                    a.link(href="https://na5ku.com.ua/uk/?ref_id=10011857&utm_source=google_adwords&utm_medium=ppc&utm_campaign=LAND-menufootrev#social-reviews" ) Відгуки
                li
                    a.link(href="https://na5ku.com.ua/uk/category/znizhki-ta-akczii/?ref_id=10011857&utm_source=google_adwords&utm_medium=ppc&utm_campaign=LAND-menufootdisc" ) Знижки
                li
                    a.link(href="https://na5ku.com.ua/uk/helpful/?ref_id=10011857&utm_source=google_adwords&utm_medium=ppc&utm_campaign=LAND-menufootblog" ) Блог

