header 
    .header
        .wrapper.flex-between.items-center
            .logo.flex-between.items-center.gap
                a(href="index.html")
                    <svg xmlns="http://www.w3.org/2000/svg" width="63" height="32" viewBox="0 0 63 32" fill="none">
                        <g clip-path="url(#clip0_2915_80)">
                            <path d="M28.2346 6.92958V10.7695C29.3391 10.7107 30.1674 10.6813 30.7195 10.6813C38.392 10.8284 42.2282 14.2858 42.2282 21.0535C42.2282 23.8783 41.2691 26.3647 39.351 28.5127C37.4619 30.6607 34.8462 31.7348 31.5041 31.7348C28.4815 31.7348 25.9823 30.8227 24.006 28.9983C22.0588 27.1738 21.0562 24.7463 20.998 21.7156H27.9295C27.9585 23.7165 29.0919 24.7169 31.3298 24.7169C32.347 24.7169 33.1607 24.3786 33.771 23.7018C34.3813 22.9956 34.6865 22.1128 34.6865 21.0535C34.6865 18.3759 32.5068 16.9488 28.1474 16.7722C27.1302 16.7428 26.3165 16.7428 25.7062 16.7722C25.1249 16.7722 24.3838 16.8164 23.4829 16.9046C22.611 16.9635 22.0298 16.9929 21.7391 16.9929V0.220703H40.7896V6.92958H28.2346Z" fill="#80C936"/>
                            <path d="M47.273 17.235H48.0886C49.872 17.235 50.7639 16.1945 50.7639 14.1135H52.444C52.4983 16.0514 51.8132 17.3506 50.3887 18.0113L52.8355 21.909V22.0907H51.0575L48.8879 18.5893C48.6812 18.6444 48.4039 18.6719 48.056 18.6719H47.273V22.0907H45.5112V10.0176H47.273V17.235ZM59.7993 14.13H61.5774V19.8115C61.5774 20.318 61.6263 20.6483 61.7242 20.8025C61.822 20.9456 62.0504 20.9952 62.4093 20.9511L62.4256 22.1237C62.1646 22.1678 61.9472 22.2008 61.7731 22.2228C61.599 22.2449 61.3869 22.2449 61.1369 22.2228C60.8869 22.2118 60.6855 22.1623 60.5334 22.0742C60.3919 21.9751 60.2614 21.821 60.1419 21.6117C60.033 21.4025 59.9787 21.1328 59.9787 20.8025C59.5003 21.7494 58.5922 22.2228 57.2545 22.2228C56.2322 22.2228 55.4874 21.909 55.0197 21.2814C54.552 20.6428 54.3183 19.795 54.3183 18.738V14.13H56.1127V18.738C56.1017 19.3656 56.2485 19.8666 56.5531 20.2409C56.8684 20.6043 57.2872 20.786 57.8092 20.786C58.3854 20.786 58.8585 20.5933 59.2284 20.2079C59.6089 19.8225 59.7993 19.316 59.7993 18.6884V14.13Z" fill="black"/>
                            <path d="M8.84128 22.0905H7.04691V17.4165C7.05779 16.8109 6.88921 16.3264 6.54122 15.9631C6.19323 15.5997 5.74734 15.4126 5.2036 15.4016C4.63809 15.4016 4.16502 15.6052 3.78441 16.0126C3.40379 16.409 3.21347 16.9265 3.21347 17.5651V22.0905H1.4191V16.4421C1.4191 15.9356 1.37559 15.6108 1.2886 15.4676C1.2016 15.3245 0.967782 15.2639 0.587158 15.2859V14.1133C0.989534 14.0583 1.37016 14.0197 1.72903 13.9977C2.09878 13.9757 2.40872 14.0803 2.65885 14.3115C2.91985 14.5317 3.05035 14.8785 3.05035 15.352C3.25698 14.8785 3.6104 14.5317 4.11066 14.3115C4.61092 14.0803 5.14923 13.9647 5.7256 13.9647C6.74785 13.9647 7.51997 14.284 8.04197 14.9226C8.57485 15.5502 8.84128 16.3815 8.84128 17.4165V22.0905ZM16.1565 20.7527C15.9064 21.2482 15.5149 21.6226 14.982 21.8758C14.4492 22.118 13.8782 22.2391 13.2692 22.2391C12.508 22.2391 11.8446 22.0134 11.2791 21.562C10.7245 21.1106 10.4472 20.5105 10.4472 19.7618C10.4254 18.8479 10.6973 18.1542 11.2628 17.6808C11.8392 17.1963 12.5841 16.9541 13.4976 16.9541C14.3567 16.9541 15.1343 17.1522 15.8303 17.5486V16.7559C15.8303 16.2714 15.64 15.9081 15.2594 15.6658C14.8896 15.4236 14.4437 15.308 13.9217 15.319C13.4106 15.33 12.9158 15.385 12.4373 15.4841C11.9588 15.5832 11.5836 15.7043 11.3117 15.8475L11.0507 14.5592C11.8555 14.1409 12.8234 13.9316 13.9544 13.9316C15.0201 13.9316 15.8847 14.1574 16.548 14.6088C17.2223 15.0492 17.5594 15.7814 17.5594 16.8054V19.9434C17.5594 20.1967 17.5594 20.3728 17.5594 20.4719C17.5703 20.56 17.5975 20.6756 17.641 20.8188C17.6954 20.9509 17.7769 21.0335 17.8857 21.0665C18.0053 21.0995 18.1684 21.105 18.375 21.083L18.4077 22.107C17.9835 22.1731 17.6084 22.2061 17.2821 22.2061C16.9559 22.2061 16.6894 22.0905 16.4828 21.8593C16.2762 21.617 16.1674 21.2482 16.1565 20.7527ZM15.8303 19.3654V18.7047C15.1887 18.3194 14.509 18.1377 13.7912 18.1597C13.3345 18.1707 12.9539 18.3084 12.6494 18.5726C12.3449 18.8369 12.1926 19.2002 12.1926 19.6627C12.1926 20.037 12.334 20.3233 12.6167 20.5215C12.8995 20.7197 13.2366 20.8188 13.6281 20.8188C14.1501 20.8188 14.6232 20.6977 15.0473 20.4554C15.4823 20.2022 15.7433 19.8388 15.8303 19.3654Z" fill="black"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_2915_80">
                            <rect width="63" height="32" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                .logo_description 
                    p Курсові, дипломні роботи на замовлення в Україні
                    p 
                        b Пн-Нд: 9.00-23.00
            nav.nav 
                ul.menu.items-center.gap-10
                    li.cancel_li
                        a.cancel(href="#")
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <path d="M1 15L14.7071 1M15 15L1.29291 1" stroke="#121212" stroke-width="1.5" stroke-linecap="round"/>
                            </svg>
                    li 
                        a.link(href="https://na5ku.com.ua/uk/uslugi/?ref_id=10011857&utm_source=google_adwords&utm_medium=ppc&utm_campaign=LAND-menuheadprice" ) Ціни
                    li 
                        a.link(href="https://na5ku.com.ua/uk/?ref_id=10011857&utm_source=google_adwords&utm_medium=ppc&utm_campaign=LAND-menuheadrev#steps" ) Умови
                    li 
                        a.link(href="https://na5ku.com.ua/uk/?ref_id=10011857&utm_source=google_adwords&utm_medium=ppc&utm_campaign=LAND-menuheadrev#social-reviews" ) Відгуки
                    li 
                        a.link(href="https://na5ku.com.ua/uk/category/znizhki-ta-akczii/?ref_id=10011857&utm_source=google_adwords&utm_medium=ppc&utm_campaign=LAND-menuheaddisc" ) Знижки
                    li.mobile_social 
                        ul.justify-center.items-center.items-center.gap-10.social_icons_block
                            li
                                a.link(href="https://t.me/Na5kuBot?start=ZGw6MjgyMDU4" target="blank") 
                                    picture 
                                        img(src="img/tg.svg", alt="Telegram")
                            li
                                a.link(href="https://direct.smartsender.com/redirect?continue=viber%3A%2F%2Fpa%3Fcontext%3DZGw6MjgyMDU4%26chatURI%3Dna5kucomuabot" target="blank") 
                                    picture 
                                        img(src="img/viber.svg", alt="Viber")
                            li
                                a.link(href="https://m.me/1532047343755224?ref=ZGw6MjgyMDU4" target="blank") 
                                    picture 
                                        img(src="img/msngr.svg", alt="Messenger")
                    li.mobile_btn 
                        .button.transparent_btn
                            a.link(href="https://na5ku.com.ua/uk/?ref_id=10011857&utm_source=google_adwords&utm_medium=ppc&utm_campaign=LAND-headbutorder#ctfrm" ) оформити замовлення
            nav.header_contacts
                ul.justify-center.items-center.items-center.gap-10.social_icons_block
                    li
                        a(href="https://t.me/Na5kuBot?start=ZGw6MjgyMDU4" target="blank") 
                            picture 
                                img(src="img/tg.svg", alt="Telegram")
                    li
                        a(href="https://direct.smartsender.com/redirect?continue=viber%3A%2F%2Fpa%3Fcontext%3DZGw6MjgyMDU4%26chatURI%3Dna5kucomuabot" target="blank") 
                            picture 
                                img(src="img/viber.svg", alt="Viber")
                    li
                        a(href="https://m.me/1532047343755224?ref=ZGw6MjgyMDU4" target="blank") 
                            picture 
                                img(src="img/msngr.svg", alt="Messenger")
            .button.transparent_btn.header_cta
                a.link(href="https://na5ku.com.ua/uk/?ref_id=10011857&utm_source=google_adwords&utm_medium=ppc&utm_campaign=LAND-headbutorder#ctfrm" ) оформити замовлення
            .burger 
                span.bord.b1
                span.bord.b2
                span.bord.b3
    