section.how_it_work 
    .steps-container
        h2 Як це працює?
        .steps
            .steps-left
                .step(data-step="1")
                    .step-num 1
                    .step-text
                        strong Оформлення замовлення
                        span 5 хвилин
                .step.active(data-step="2")
                    .step-num 2
                    .step-text
                        strong Оцінка замовлення
                        span 2 хв - 2 год
                .step(data-step="3")
                    .step-num 3
                    .step-text
                        strong Передплата замовлення
                        span 3 хвилини
                .step(data-step="4")
                    .step-num 4
                    .step-text
                        strong Виконання роботи
                        span Вказаний вам "дедлайн"
                .step(data-step="5")
                    .step-num 5
                    .step-text
                        strong Гарантійний термін
                        span 30 днів після виконання
            .steps-line
                .line
                .dots
                    span.dot(data-step="1")
                    span.dot.active(data-step="2")
                    span.dot(data-step="3")
                    span.dot(data-step="4")
                    span.dot(data-step="5")
            .steps-right
                .step-content.active(data-step="2")
                    p 🕵️ Оцінка замовлення відбувається щодобово і зазвичай триває від 2 хвилин до 2 годин...
                    p 🧠 Серед експертів... кваліфікацією та ціною
                    p 💵 Інформацію про вартість... у Telegram-боті
                    p 🧑‍💼 Розв'язати будь-які питання... ваш персональний менеджер
                    p 📂 Познайомитись з ним ближче... розділі “Мій менеджер”
    button.next-step-btn Наступний крок
    
    